<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413826532912-vt9h8pp36bbk9akq5lshsmf3joqoapmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413826532912-vt9h8pp36bbk9akq5lshsmf3joqoapmn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>413826532912-kfc9flanl7ef0l3qq6ab380m1ir89okv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSZS4tQiCWbuaBOPav_-IZQBHjq-0-bjM</string>
	<key>GCM_SENDER_ID</key>
	<string>413826532912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recomend.app</string>
	<key>PROJECT_ID</key>
	<string>recomend-b6aab</string>
	<key>STORAGE_BUCKET</key>
	<string>recomend-b6aab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413826532912:ios:68f9c6bed9881ae73a8ff5</string>
</dict>
</plist>